<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"  ng-click="vm.isCollapsed = !vm.isCollapsed">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Webswing.org</div>
        </div>
        <div class="navbar-collapse" collapse="vm.isCollapsed">
            <ul class="nav navbar-nav navbar-left">
                <li ng-click="vm.isCollapsed = true" ng-repeat="location in vm.locations" ng-class="{ active:  vm.isActive(location)}"><a href="{{location.getDefaultUrl()}}">{{location.name}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="vm.isCollapsed = true"><a ng-click="vm.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>